@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  background: black;
}

.home,
.picks-screen {
  background: radial-gradient(50% 50% at 50% 50%, #21324a 0%, #0a0d11 100%);
}

.films {
  background: radial-gradient(50% 50% at 50% 50%, #452a0d 0%, #070503 100%);
}
ul {
  counter-reset: item;
}

li:before {
  content: counter(item) ". ";
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
